*{
margin: 0;
padding: 0;
}

.menu{
    padding: 5px;
    list-style: none;
    color: white;
    background-color: orange;
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
}

.ul li{
    padding: 5px;
    list-style: none;
    border: 1px solid black;
}


.container{
    display: grid;
    border: 1px ;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "menu" "seccion-principal" "pie-de-pagina";

}

nav{
    padding: 5px;
    grid-area: menu ;
    background-color: orange;
    color:white;
}

main{
    grid-area: seccion-principal;
    padding: 0px;

}

.filtros{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: gainsboro;
}

.seccion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    
}

.button{
    background-color: blue;
    margin-bottom: 10px;
    
}

.paginado{
    list-style: none;
    display: flex;
   
}
.li{
    border: 1px solid black;
}
footer{
    grid-area: pie-de-pagina;
    background-color: black;
    color: white;
    display: column;
    text-align: center;
    margin-bottom: 60px;
    padding-top: 20px;   
}